<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/stylesheets/main.css' , v=0.01) }}" />
    <title>What do people think?</title>
</head>
<body>
<div class = "visualTitle">
	<h1 class="sansserif" style="font-size:80px">WHAT DO PEOPLE THINK?</h1>
</div>
<div class="visual">
	<h3 class="sansserif" style="font-size:30px">Selected page does not exists!</h3>
	<br><br>
	<a class="buton" id="home" href="http://127.0.0.1:5000/">HOME</a>
</div>

</body>
</html>