<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/stylesheets/main.css' , v=0.01) }}" />
    <style>
        .visualFrame {
          text-align: center;
          position: absolute;
          top:110%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
        }
    </style>
	<title>What do people think?</title>
	</head>
<body onload="myFunction()">
	
<div class = "visualTitle">
	<h1 class="sansserif" id="global" style="font-size:80px">RESULTS FOR THE KEYWORD {{key}}</h1>
</div>
<div class="visual">
	
	<h3 class="sansserif" id="result" style="font-size:50px">Single positivity of the searched in Amazon for keyword {{key}} : {{sentiment}}</h3>
	<hr>
	
	<div style="display:block">
		<a class="buton" id="home" href="http://127.0.0.1:5000/">HOME</a>
	</div>
</div>
<br><br>
<div class="visualFrame">
    <iframe width="1200" height="700" src={{ graph }}></iframe>
</div>
<script>
function myFunction() {
  
  var x = document.getElementById("result").innerHTML;
  var res = x.substr(x.length - 2)
  var init = x.substr(0, x.length - 2)
  var value = parseInt(res)
  if (value >= 1 && value < 20){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("red");
  }
  if (value >= 20 && value < 40){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("#FF5B33");
  }
  if (value >= 40 && value < 60){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("orange");
  }
  if (value >= 60 && value < 80){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("#33FFAE");
  }
  if (value >= 80 && value <= 100){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("green");
  }
}

</script>

</body>
</html>