<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/stylesheets/main.css' , v=0.01) }}" />
    <title>What do people think?</title>
</head>
<body>
<div class = "visualTitle">
	<h1 class="sansserif" style="font-size:80px">WHAT DO PEOPLE THINK?</h1>
</div>
<div class="visual">
	<h3 class="sansserif" style="font-size:30px">Select the provider and enter the keyword related to the topic you want to know "what people think".</h3>
	<hr>
	<div style="display:block">
		<form name="access" action="http://127.0.0.1:5000/get-text" method="post">
			<label for="myfile">Select a provider</label>
			<select name= "provider" id="provider">
			<option value="amazon">Amazon</option>
			<option value="twitter">Twitter</option>
			<option value="all">All</option>
			</select><br><br>
			<label for="keyw">Insert keyword</label>
			<input type="text" id="keyword" name="keyword" required="required" maxlength="30" pattern="(?!^ +$)^.+$">
			<br><br>
			<label for="quantity">Insert max elements</label>
			<input type="number" id="quantity" name="quantity" required="required" min="15" max="200", value="50">
			<br><br>
			Max elements: <input type="checkbox" id="myCheck" onclick="myFunction()">
			<br><br>
			<input type="submit" onclick="loadShow()" id="buttonUpload" value="Start"/>

		</form>
        <div id='viewLoader' style="display:none" class="loader"></div>
	</div>
</div>

<script>
function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var control = document.getElementById("quantity").value;
  if (checkBox.checked == false){
	document.getElementById("quantity").value = "50";
    //control.style.display = "block";
  } else {
	document.getElementById("quantity").value = "200";
    //control.style.display = "none";
  }
}

function loadShow(){
    document.getElementById("viewLoader").style.display = "block";
}

</script>

</body>
</html>