<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/stylesheets/main.css' , v=0.01) }}" />
	<style>
		a:link, a:visited {
		  background-color: transparent;
		  color: white;
		  padding: 14px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		}

		a:hover, a:active {
		  background-color: green;
		}
        .visualFrame {
          text-align: center;
          position: absolute;
          top:80%;
          left: 30%;
          transform: translate(-50%, -50%);
          color: white;
        }
        .visualFrame_word {
          text-align: center;
          position: absolute;
          top:80%;
          left: 70%;
          transform: translate(-50%, -50%);
          color: white;
        }
	</style>
	<title>What do people think?</title>
	</head>
<body>

<div class = "visualTitle">
	<h1 class="sansserif" style="font-size:70px">NO REVIEWS FOUND!</h1>
</div>


</body>
</html>
