<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/stylesheets/main.css' , v=0.01)}}" />
	<style>
        .visualFrame {
          text-align: center;
          position: absolute;
          top:110%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
}
    </style>
	<title>What do people think?</title>
    </head>
<body onload ="myFunction(); myFunc()">
	
<div class = "visualTitle">
	<h1 class="sansserif" id="global" style="font-size:70px">RESULTS FOR THE KEYWORD {{key}}</h1>
</div>
<div class="visual">
	
	<h3 class="sansserif" id="result" style="font-size:40px">Global positivity of the searched in {{pvd}} provider for keyword {{key}} : {{sentiment}}</h3>
	<!-- <h3 id="prova"></h3> -->
	<hr>
	
	<div style="display:block">
        <br>
        <h4 class="sansserif" style="font-size:30px"> {{ num }} textual elements have been found </h4>
        <br>
		<label for="myfile">Select visualization</label>
		<select id="myselect" >
		<option value="view_data">View all text</option>
		<option value="view1">View color positivity</option>
		<!--<option value="view2">view search positivity word</option>-->
		</select>
		<input type="submit" value="Go!" onclick="document.location.href = 'http://127.0.0.1:5000/' + document.getElementById('myselect').value;" />
		<br><br>
		<a class="buton" id="home" href="http://127.0.0.1:5000/">HOME</a>
		<a class="buton" id="amazon" href="http://127.0.0.1:5000/amazon_single">AMAZON</a>
		<a class="buton" id="twitter" href="http://127.0.0.1:5000/twitter_single">TWITTER</a>
	</div>
</div>
<br><br>
<div class="visualFrame">
    <iframe width="1200" height="700" src={{ graph }}></iframe>
</div>
<script>
function myFunction() {
  
  var x = document.getElementById("result").innerHTML;
  var res = x.substr(x.length - 2)
  var init = x.substr(0, x.length - 2)
  var value = parseInt(res)
  if (value >= 1 && value < 20){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("red");
  }
  if (value >= 20 && value < 40){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("#FF5B33");
  }
  if (value >= 40 && value < 60){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("orange");
  }
  if (value >= 60 && value < 80){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("#33FFAE");
  }
  if (value >= 80 && value <= 100){ 
	var view_result3 = document.getElementById("result").innerHTML = init + (value.toString()+"%").fontcolor("green");
  }
}


function myFunc() {
	var provider = '{{pvd}}';
	var control_twitter = '{{tc}}';
	var control_amazon = '{{ac}}';
	var button_a = document.getElementById("amazon");
	var button_t = document.getElementById("twitter");
    if (provider == 'all'){
		if(control_amazon == 'ok'){
			button_a.style.display = "block";
		}
		else{
			button_a.style.display = "none";
		}
		if(control_twitter == 'ok'){
			button_t.style.display = "block";
		}
	}else {
		button_a.style.display = "none";
		button_t.style.display = "none";
  }
}
</script>

</body>
</html>
