<!DOCTYPE html>
<html lang="en">
<html>
	<head
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>	
		.button:link, .button:visited {
		  background-color: transparent ;
		  color: white;
		  padding: 14px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		}
		.button:hover, .button:active {
		  background-color: green;
		}
		
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  color: #ffffff
		}

		td, th {
		  border: 1px solid #ffffff;
		  text-align: left;
		  padding: 8px;
		}
		
		body {
		  background-image: url("/template/assets/stylesheets/unnamed.jpg");
		  line-height: 1;
		  
		  
		}
		h1 {
			text-align: center;
			left: 50%;
			color: white;
		#myInput {
		  background-position: 10px 12px; /* Position the search icon */
		  background-repeat: no-repeat; /* Do not repeat the icon image */
		  width: 100%; /* Full-width */
		  font-size: 12px; /* Increase font-size */
		  padding: 50px 30px 50px 80px; /* Add some padding */
		  border: 1px solid #ddd; /* Add a grey border */
		  margin-bottom: 18px; /* Add some space below the input */
		}
		
	</style>
		<meta charset="UTF-8
	
		<title>What do people think?</title>
		
	</head>
<body>
    
	<div class="container">
	<a class = "button" id="home" href="http://127.0.0.1:5000/">HOME</a>
	<div class = "visualTitlePage1">
		<h1 style="font-size:50px">Data table obtained from {{pvd}} for the keyword {{ key }}</h1>
	
	</div>
		<div>
		<br />
			<div style="display:block">
				<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search in content">
				<!--<label id="sel_p" for="select_prov">Select a provider</label>-->
                <button id="start_search" onclick="createGraph()">Positivity Word</button>
				<select id="select_prov" onchange="selectProvider()">
				  <option value="All">All</option>
				  <option value="Twitter">Twitter</option>
				  <option value="Amazon">Amazon</option>
				</select>
                <p id="count_elements"></p>
			<table id="myTable">
				<thead>
					<tr class="header">
						{% for col in colnames %}
						<th class="th-sm">{{ col }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for record in records %}
					<tr  class="w3-hover-green">
					
						{% for col in colnames %}
						<td>{{ record[col] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue, count, text;
  var button = document.getElementById("start_search");
  count = 0;
  text = document.getElementById("count_elements").innerHTML;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      console.log(txtValue);
      console.log(filter);
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        count += 1;
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
  if(input.value < 1){
      count = 0;
  }
  if(count > 0){
      text = count +" elements found to "+input.value;
      console.log(text);
      button.style.display = "block";

  }else {
      button.style.display = "none";

  }
}
function createGraph(){

    var input = document.getElementById("myInput").value;
    var click_provider = document.getElementById("select_prov").value;

    //console.log('http://127.0.0.1:5000/view2?'+"provider_sel="+ '{{ pvd }}'+"&word_sel="+input)
    //console.log(input)
    //console.log(click_provider)

    if ('All' == '{{pvd}}' && click_provider =='All'){
        window.open('http://127.0.0.1:5000/view2?' + "provider_sel=all&word_sel=" + input, "_self");
    }
    else if (click_provider == 'Amazon'){
        window.open('http://127.0.0.1:5000/view2?' + "provider_sel=amazon&word_sel=" + input, "_self");
    }
    else if (click_provider == 'Twitter'){
        window.open('http://127.0.0.1:5000/view2?' + "provider_sel=twitter&word_sel=" + input, "_self");
    }
    else{
        window.open('http://127.0.0.1:5000/view2?' + "provider_sel=" + '{{ pvd }}' + "&word_sel=" + input, "_self");
    }
}

function selectProvider(){
	var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
	var tr = table.getElementsByTagName("tr");
	var button = document.getElementById("select_prov").value;
	if (button == 'Amazon'){
		for (i = 1; i<tr.length; i++){
			td = tr[i].getElementsByTagName("td")[1];
			if(td.textContent == 'Twitter'){
				tr[i].style.display = "none";
			}
			if(td.textContent == 'Amazon'){
				tr[i].style.display = "";
			}
		}
		
	}else if (button == 'Twitter'){
		for (i = 1; i<tr.length; i++){
			td = tr[i].getElementsByTagName("td")[1];
			if(td.textContent == 'Amazon'){
				tr[i].style.display = "none";
			}
			if(td.textContent == 'Twitter'){
				tr[i].style.display = "";
			}
		}
	}
	else if (button =="All"){
		for (i = 1; i<tr.length; i++){
			td = tr[i].getElementsByTagName("td")[1];
			tr[i].style.display = "";

		}
		
	}
}

function control(){
    var button = document.getElementById("start_search");
    button.style.display = "none";
	var provider = '{{pvd}}';

	var button = document.getElementById("select_prov");
    if (provider == "all"){
		button.style.display = "block";

	}else {
		button.style.display = "none";

  }
}

window.onload = control;
</script>
</body>
</html>
