<!DOCTYPE html>
<html lang="en">
<html>
	<head
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
		.button:link, .button:visited {
		  background-color: transparent ;
		  color: white;
		  padding: 14px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		}
		.button:hover, .button:active {
		  background-color: green;
		}
        .button_red:hover, .button_red:active {
		  background-color: darkred;
		}
        .button_orenge:hover, .button_orange:active {
		  background-color: darkorange;
		}

		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		  color: #ffffff
		}

		td, th {
		  border: 1px solid #ffffff;
		  text-align: left;
		  padding: 8px;
		}

		body {
		  background-image: url("/template/assets/stylesheets/unnamed.jpg");
		  line-height: 1;
            
		}
		h1 {
			text-align: center;
			left: 50%;
			color: white;
		#myInput {
		  background-position: 10px 12px; /* Position the search icon */
		  background-repeat: no-repeat; /* Do not repeat the icon image */
		  width: 100%; /* Full-width */
		  font-size: 12px; /* Increase font-size */
		  padding: 50px 30px 50px 80px; /* Add some padding */
		  border: 1px solid #ddd; /* Add a grey border */
		  margin-bottom: 18px; /* Add some space below the input */
		}

	</style>
		<meta charset="UTF-8

		<title>What do people think?</title>

	</head>
<body>

	<div class="container">
	<a class = "button" id="home" href="http://127.0.0.1:5000/">HOME</a>
	<div class = "visualTitlePage1">
		<h1 style="font-size:50px">Data table obtained from {{pvd}} for the keyword {{ key }}</h1>

	</div>
		<div>
		<br />
			<div style="display:block">
				<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search in content">

                <br><br>
				<select id="select_prov" onchange="selectProvider()">
				  <option value="All">Provider: All</option>
				  <option value="Twitter">Provider: Twitter</option>
				  <option value="Amazon">Provider: Amazon</option>
				</select>
                <br><br>
                <select id="Sort" onchange="sortTable()">
				    <option value="descending">Sort: descending</option>
				    <option value="ascending">Sort: ascending</option>
                </select>
			<table id="myTable">
				<thead>
					<tr class="header">
						{% for col in colnames %}
						<th class="th-sm">{{ col }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for record in records %}
					<!--<tr  class="w3-hover-green">-->
                    <tr>
						{% for col in colnames %}
						<td >{{ record[col] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	</div>
<script>

function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function selectProvider(){
	var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
	var tr = table.getElementsByTagName("tr");
	var button = document.getElementById("select_prov").value;
	if (button == 'Amazon'){
		for (i = 1; i<tr.length; i++){
			td = tr[i].getElementsByTagName("td")[1];

			if(td.textContent == 'Twitter'){
				tr[i].style.display = "none";
			}
			if(td.textContent == 'Amazon'){
				tr[i].style.display = "";
			}
		}

	}else if (button == 'Twitter'){
		for (i = 1; i<tr.length; i++){
			td = tr[i].getElementsByTagName("td")[1];
			if(td.textContent == 'Amazon'){
				tr[i].style.display = "none";
			}
			if(td.textContent == 'Twitter'){
				tr[i].style.display = "";
			}
		}
	}
	else if (button =="All"){
		for (i = 1; i<tr.length; i++){
			td = tr[i].getElementsByTagName("td")[1];
			tr[i].style.display = "";

		}

	}
}

function control() {
    var provider = '{{pvd}}';

    var button = document.getElementById("select_prov");
    if (provider == "all") {
        button.style.display = "block";

    } else {
        button.style.display = "none";

    }

    var table, tr, td, i;

    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if(td){
            if(td.textContent <= 33){
                tr[i].style.background = "red";
            }
            else if(td.textContent >33 && td.textContent <=66){
                tr[i].style.background = "orange";
            }
            else{
                tr[i].style.background = "green";
            }
        }
    }

}
function sortTable(){
	var button = document.getElementById("Sort").value;
	var tbl = document.getElementById("myTable").tBodies[0];
    var store = [];
    for(var i=0, len=tbl.rows.length; i<len; i++){
        var row = tbl.rows[i];
        var sortnr = parseFloat(row.cells[2].textContent || row.cells[2].innerText);
        if(!isNaN(sortnr))  store.push([sortnr, row]);

    }
    store.sort(function(x,y){
        if(button == "ascending")
            return x[0] - y[0];
        else
            return y[0] - x[0];
    });
    for(var i=0, len=store.length; i<len; i++){
        tbl.appendChild(store[i][1]);
    }
    store = null;

}

window.onload = control;
</script>
</body>
</html>
