<!DOCTYPE html>
<html lang="en">
<html>
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/stylesheets/main.css' , v=0.01) }}" />
	<style>
		a:link, a:visited {
		  background-color: transparent;
		  color: white;
		  padding: 14px 25px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		}

		a:hover, a:active {
		  background-color: green;
		}
        .visualFrame {
          text-align: center;
          position: absolute;
          top:80%;
          left: 30%;
          transform: translate(-50%, -50%);
          color: white;
        }
        .visualFrame_word {
          text-align: center;
          position: absolute;
          top:80%;
          left: 70%;
          transform: translate(-50%, -50%);
          color: white;
        }
	</style>
	<title>What do people think?</title>
	</head>
<body>

<div class = "visualTitle">
	<h1 class="sansserif" style="font-size:70px">Display result for word {{ key }} on items analyzed by provider {{ pvd }}</h1>
</div>
<div class="visual">
	<!--<h3 class="sansserif" style="font-size:30px">enter the word that interests you to see the associated positivity</h3>
	<hr>
	<br><br>
	-->
    <h3 id="sentiment" class="sansserif" style="font-size:30px">The positivity of the word {{ key }} is :</h3>
    <h3 id="postivity" class="sansserif" style="font-size:30px"></h3>
    <hr>
	<br><br>
    <!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search word">
    <br>-->
	<a href="http://127.0.0.1:5000/">HOME</a><br><br>
</div>
<br><br>
<div class="visualFrame">
    <iframe width="1200" height="500" src={{ graph_all }}></iframe>
</div>
<div class="visualFrame_word">
    <iframe width="1200" height="500" src={{ graph_word }}></iframe>
</div>

<script>
function myPositivity() {
    var x, view_result, value;
    x = '{{ pos }}';

    /*var res = x.substr(x.length - 2)
    var init = x.substr(0, x.length - 2)

     */
    value = parseInt(x);
    if (value >= 1 && value < 20){
        console.log(x);
        view_result = document.getElementById("postivity").innerHTML= (value.toString()+"%").fontcolor("red");
    }
    if (value >= 20 && value < 40){
        view_result = document.getElementById("postivity").innerHTML = (value.toString()+"%").fontcolor("#FF5B33");
    }
    if (value >= 40 && value < 60){
        view_result = document.getElementById("postivity").innerHTML = (value.toString()+"%").fontcolor("orange");
    }
    if (value >= 60 && value < 80){
        view_result = document.getElementById("postivity").innerHTML = (value.toString()+"%").fontcolor("#33FFAE");
    }
    if (value >= 80 && value <= 100){
        view_result = document.getElementById("postivity").innerHTML = (value.toString()+"%").fontcolor("green");
    }
}

window.onload = myPositivity;
</script>

</body>
</html>
